/* ------------------------Сброс стилей---------------------*/
/*
.########..########..######..########.########.....######...######...######.
.##.....##.##.......##....##.##..........##.......##....##.##....##.##....##
.##.....##.##.......##.......##..........##.......##.......##.......##......
.########..######....######..######......##.......##........######...######.
.##...##...##.............##.##..........##.......##.............##.......##
.##....##..##.......##....##.##..........##.......##....##.##....##.##....##
.##.....##.########..######..########....##........######...######...######.
*/
*{ border: 0; margin: 0; padding: 0; }
*, *::before, *::after{ -moz-box-sizing: border-box;
-webkit-box-sizing: border-box ; box-sizing: border-box; }
:focus, :active{ outline: none; }
a:focus, a:active{ outline: none; }
nav, footer, header, aside { display: block; }
html, body{ width: 100%;/* height: 100%;*/ font-size: 100%;
line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
input, button, textarea{ font-family: inherit; }
input::-ms-clear{ display: none; }
button{ cursor: pointer; }
button::-moz-focus-inner{ margin: 0; padding: 0; }
a, a:visited{ text-decoration: none; }
a:hover{ text-decoration: none; }
ul li{ list-style: none; }
img{ vertical-align: top; }
h1, h2, h3, h4, h5, h6{ font-size: inherit; font-weight: 400; }
/* --------------------------------------------------------- */


/* ---------------Выделение каждого блока--------------------*/
/*
..######..##......##.####.########..######..##.....##
.##....##.##..##..##..##.....##....##....##.##.....##
.##.......##..##..##..##.....##....##.......##.....##
..######..##..##..##..##.....##....##.......#########
.......##.##..##..##..##.....##....##.......##.....##
.##....##.##..##..##..##.....##....##....##.##.....##
..######...###..###..####....##.....######..##.....##
*/
/* *{ outline: 1px dashed red; outline-offset: -1px; } */
/* --------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
}

/*
.########..#######..##....##.########..######.
.##.......##.....##.###...##....##....##....##
.##.......##.....##.####..##....##....##......
.######...##.....##.##.##.##....##.....######.
.##.......##.....##.##..####....##..........##
.##.......##.....##.##...###....##....##....##
.##........#######..##....##....##.....######.
*/

@font-face {
    font-family: 'Han Zi';
    src: url(../fonts/HanZi.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
..######...#######..##....##.########....###....####.##....##.########.########.
.##....##.##.....##.###...##....##......##.##....##..###...##.##.......##.....##
.##.......##.....##.####..##....##.....##...##...##..####..##.##.......##.....##
.##.......##.....##.##.##.##....##....##.....##..##..##.##.##.######...########.
.##.......##.....##.##..####....##....#########..##..##..####.##.......##...##..
.##....##.##.....##.##...###....##....##.....##..##..##...###.##.......##....##.
..######...#######..##....##....##....##.....##.####.##....##.########.##.....##
*/

.container {
    max-width: 1600px;
    margin: 0 auto;
}

@media (min-width: 575.98px){
    .container {
        max-width: 540px;
        margin: auto;
    }
}

@media (min-width: 767.98px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1399.98px){
    .container {
        max-width: 1240px;
    }
}

@media (min-width: 1599.98px){
    .container {
        max-width: 1530px;
    }
}

@media (min-width: 1699.98px){
    .container {
        max-width: 1620px;
    }
}

/*
.##.......####.##....##.##....##.........##.....##..#######..##.....##.########.########.
.##........##..###...##.##...##..........##.....##.##.....##.##.....##.##.......##.....##
.##........##..####..##.##..##...........##.....##.##.....##.##.....##.##.......##.....##
.##........##..##.##.##.#####....#######.#########.##.....##.##.....##.######...########.
.##........##..##..####.##..##...........##.....##.##.....##..##...##..##.......##...##..
.##........##..##...###.##...##..........##.....##.##.....##...##.##...##.......##....##.
.########.####.##....##.##....##.........##.....##..#######.....###....########.##.....##
*/

.link-hover-center {
    list-style: none;
    text-align: left;
    padding: .2rem;
    align-self: center;
}

.link-hover-center:hover {
    list-style: none;
    color: rgb(210, 175, 115);
}

.link-hover-center a {
    position: relative;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.link-hover-center a:after {
    height: 1px;
    width: 0%;
    display: block;
    position: absolute;
    left: 50%;
    content: "";
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgb(210, 175, 115);
}

.link-hover-center a:hover:after {
    width: 100%;
}

/*
.########.....###....########.....###....##.......##..........###....##.....##
.##.....##...##.##...##.....##...##.##...##.......##.........##.##....##...##.
.##.....##..##...##..##.....##..##...##..##.......##........##...##....##.##..
.########..##.....##.########..##.....##.##.......##.......##.....##....###...
.##........#########.##...##...#########.##.......##.......#########...##.##..
.##........##.....##.##....##..##.....##.##.......##.......##.....##..##...##.
.##........##.....##.##.....##.##.....##.########.########.##.....##.##.....##
*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.##.....##.########....###....########..########.########.
.##.....##.##.........##.##...##.....##.##.......##.....##
.##.....##.##........##...##..##.....##.##.......##.....##
.#########.######...##.....##.##.....##.######...########.
.##.....##.##.......#########.##.....##.##.......##...##..
.##.....##.##.......##.....##.##.....##.##.......##....##.
.##.....##.########.##.....##.########..########.##.....##
*/

.header {
}

.menu {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9009;
    background-color: rgba(0, 0, 0, 1);
}

.menu__row {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__item {
    margin: 0 1vw;
}

.menu__item-logo {
    flex: 0 0 90px;
    min-height: 60px;
    min-width: 90px;
    background-image: url(../images/header-logo/logo.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__spring {
    flex: 1 0 1%;
}

.menu__link {
    height: 20px;
    display:table-cell;
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .5s ease-in-out;
    color: rgba(255, 255, 255);
}

.menu__link:hover {
    color: rgb(210, 175, 115);
}

.header__plug-block {
    height: 80px;
}

.transparent-block {
    width: 100%;
    position: fixed;
    top: 80px;
    z-index: 9008;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, .4) 20%, rgb(0, 0, 0, .7) 60%, rgb(0, 0, 0, 1) 95%, rgb(0, 0, 0, 1) 100%) ;
}

@media (max-width: 767.98px){
    .transparent-block {
        background: linear-gradient(0deg, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, .4) 20%, rgb(0, 0, 0, .7) 60%, rgb(0, 0, 0, 1) 100%);	
    }
}

.transparent-block__row {
    height: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767.98px){
    .transparent-block__row {
        flex-flow: column;
        justify-content: flex-start;
    }
}

.transparent-block__logo {
    position: relative;
    z-index: 9007;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Han Zi';
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem 1rem 0;
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0),rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px,
    rgb(245, 206, 140) 0px 0px 10px,  rgb(245, 206, 140) 0px 0px 20px,  rgb(245, 206, 140) 0px 0px 30px;
    color: rgb(255, 255, 255);
}

.transparent-block__phone {
    position: relative;
    z-index: 9006;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
    padding: 1rem 1rem 0;
}

.transparent-block__phone-link {
    color: rgb(245, 206, 140);
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0);
}

@media (max-width: 767.98px){
    .transparent-block__phone {
        padding: 0 2rem;
    }
}

.menu__link-active {
    color: rgb(210, 175, 115);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##
*/

.animation {
}

.animation__parallax-container {
    width: 100%;
    height: calc( 100vh - 60px );
    position: relative;
    z-index: 8000;
    overflow: hidden;
    filter: brightness(85%);
}

.animation__parallax-background {
    width: 100%;
    height: calc( 100vh - 60px );
    position: absolute;
    z-index: 8002;
    top: 0;
    left: 0;
    background-image: url('../images/solarium/animation/1.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animation__parallax-container_positioned {
    z-index: 8001;
    transform: scale(1.2);
}

.animation .container{
    position: relative;
}

.animation__row {
    height: calc( 100vh - 60px );
    width: 100%;
    position: absolute;
    top: calc( -1 * ( 100vh - 60px ) );
    z-index: 8003;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.animation__item {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
}

#INFOBLOCK_ITEM_1 {
    transform: translateY(50%);
}

#INFOBLOCK_ITEM_2 {
    transform: translateY(-50%);
}

.animation__subtitle {
    text-align: center;
    font-size: 5rem;
    font-weight: lighter;
    font-family: 'Comforter', cursive;
    letter-spacing: 2px;
    padding: 0px 10px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0), 0px 0px 15px rgb(0, 0, 0);
    color: rgb(245, 206, 140);
}

.animation__title {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 10rem;
    letter-spacing: -2px;
    padding: 10px 10px;
    line-height: 1;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (max-width: 767.98px){
    .animation__subtitle{
        font-size: 4rem;	
    }
    .animation__title{
        font-size: 7rem;	
    }
}

@media (max-width: 575.98px){
    .animation__subtitle{
        font-size: 3rem;	
    }
    .animation__title{
        font-size: 5rem;	
    }
}

.animation__text {
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 15px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*
.####.##....##.########..#######..........########..##........#######...######..##....##
..##..###...##.##.......##.....##.........##.....##.##.......##.....##.##....##.##...##.
..##..####..##.##.......##.....##.........##.....##.##.......##.....##.##.......##..##..
..##..##.##.##.######...##.....##.#######.########..##.......##.....##.##.......#####...
..##..##..####.##.......##.....##.........##.....##.##.......##.....##.##.......##..##..
..##..##...###.##.......##.....##.........##.....##.##.......##.....##.##....##.##...##.
.####.##....##.##........#######..........########..########..#######...######..##....##
*/

.info-block {
    height: fit-content;
}

@media (max-width: 1199.98px){
    .info-block {
        margin: 0;
        text-align: center;
    }
}

.info-block__row {
    margin: 75px 0 75px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.info-block__item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    flex: 0 0 50%;
}

@media (max-width: 1199.98px){
    .card {
        margin: 75px 0 0 0;
    }
}

@media (max-width: 575.98px){
    .info-block__item {
        min-width: 340px;
    }
}

.info-block__item_background {
    width: 450px;
    height: 460px;
    object-fit: contain;
}

@media (max-width: 575.98px){
    .info-block__item_background {
        width: 350px;
        height: 360px;
    }
}

.card {
}

@media (max-width: 1199.98px){
    .card {
        flex: 0 0 70%;
    }
}

.card__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

@media (max-width: 1199.98px){
    .card__row {
        margin: 0 0 75px 0;
        width: 100%;
    }
}

@media (max-width: 575.98px){
    .card__row {
        width: 360px;
    }
}

.card__item {
}

.card__subtitle {
    padding: 0 1rem 1rem 1rem;
    font-family: 'Comforter', cursive;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(245, 206, 140);
}
.card__title {
    padding: 0 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
}

@media (max-width: 767.98px){
    .card__title{
        font-size: 3rem;
    }
}

@media (max-width: 575.98px){
    .card__title {
        font-size: 2.5rem;
    }
}

.card__text {
    padding: 1rem 1rem 0 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: 1px;
}

/*
.########..########..####..######..########
.##.....##.##.....##..##..##....##.##......
.##.....##.##.....##..##..##.......##......
.########..########...##..##.......######..
.##........##...##....##..##.......##......
.##........##....##...##..##....##.##......
.##........##.....##.####..######..########
*/

.price-block {
}

.price-block__parallax-background {
    height: fit-content;
    background-image: url("../images/solarium/price-block/price-block__parallax-background.webp");
}

.price-block__subtitle {
    text-align: center;
    padding: 100px 1rem 1rem 1rem;
    font-family: 'Comforter', cursive;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(245, 206, 140);
}

.price-block__title {
    text-align: center;
    padding: 0 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
}

@media (max-width: 767.98px){
    .price-block__title{
        font-size: 3rem;;
    }
}

@media (max-width: 575.98px){
    .price-block__title{
        font-size: 2.5rem;
    }
}


.price-block__text {
    text-align: center;
    padding: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255)
}

.price-block__row {
    padding: 100px 0 100px 0;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

@media (max-width: 1199.98px){
    .price-block__row{
        margin: 0;
        justify-content: center;
    }
    .price-block__row>:nth-child(2) {
        padding: 0 0 100px 0;
    }
}

.price-block__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 1199.98px){
    .price-block__item{
        margin: 100px 0 0 0;
        flex: 0 0 100%;
    }
    .price-block__row:nth-child(2) {
        padding: 0 0 0px 0;
    }
}

.price-list {
    width: 80%;
    padding: 0;
}

@media (max-width: 1199.98px){
    .price-list{
        width: 90%;
    }
}

.price-list__title {
    list-style: none;
}

.price-list__title{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 4rem;
}

@media (max-width: 1199.98px){
    .price-list__title{
        font-size: 3rem;
    }
}

@media (max-width: 575.98px){
    .price-list__title{
        font-size: 2.5rem;
    }
}

.price-list__offer {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 3rem;
    align-items: baseline;
    display: flex;
    margin: 1rem 0;
}

@media (max-width: 1199.98px){
    .price-list__offer{
        font-size: 2rem;
    }
}

.price-list__offer::before {
    content: '';
    border-bottom: 1px dotted rgb(0, 0, 0);
    flex-grow: 1;
    order: 2;
    margin: 0 5px;
    transform: translateY( -.4rem);

}

.price-list__cost {
    order: 3;
}

/*
..######..##.......####.########..########.########.
.##....##.##........##..##.....##.##.......##.....##
.##.......##........##..##.....##.##.......##.....##
..######..##........##..##.....##.######...########.
.......##.##........##..##.....##.##.......##...##..
.##....##.##........##..##.....##.##.......##....##.
..######..########.####.########..########.##.....##
*/

.slider {
    /* height: fit-content; */
}

.slider__title_wrapped {
}

.slider__subtitle {
    text-align: center;
    padding: 100px 1rem 1rem 1rem;
    font-family: 'Comforter', cursive;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(245, 206, 140);
}

.slider__title {
    text-align: center;
    padding: 0 0 35px 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    line-height: 1.1;
}

@media (max-width: 767.98px){
    .slider__title{
        font-size: 3rem;
    }
}

@media (max-width: 575.98px){
    .slider__title{
        font-size: 2.5rem;
    }
}

.slider__container {
    position: relative;
    text-align: center;
}

.slider__item {
}

.strelka-left {
    transform: rotate(180deg);
}

.slide {
}

.slide__image {
    height: 60vh;
    object-fit: contain;
}

@media (max-width: 1199.98px){
    .slide__image {
        height: 55vh;
    }
}

@media (max-width: 991.98px){
    .slide__image {
        height: 45vh;
    }
}

@media (max-width: 767.98px){
    .slide__image {
        height: 45vh;
        object-fit: cover;
    }
}

@media (max-width: 575.98px){
    .slide__image {
        height: 40vh;
    }
}

.slide__text {
    position: relative;
    padding: 1rem 0 4rem 0;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 2rem !important;
}

.slide__text::after {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 20px;
    content: "";
    border-bottom: 1px dotted black;
}

.owl-nav {
    width: 100%;
    position: absolute;
    top: 30vh;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1199.98px){
    .owl-nav {
        top: 27.5vh;
    }
}

@media (max-width: 991.98px){
    .owl-nav {
        top: 22.5vh;
    }
}

@media (max-width: 767.98px){
    .owl-nav {
        top: 22.5vh;
    }
}

@media (max-width: 575.98px){
    .owl-nav {
        top: 20vh;
    }
}

.owl-next svg, .owl-prev svg {
    fill: rgb(120, 120, 120);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 3px;
}

@media (max-width: 767.98px){
    .owl-next svg, .owl-prev svg {
        fill: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
    }
}

.owl-next svg:hover, .owl-prev svg:hover {
    fill: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 767.98px){
    .owl-next svg:hover, .owl-prev svg:hover {
        fill: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
    }
}


.owl-next:hover, .owl-prev:hover {
    background-color: rgba(255, 255, 255, 0) !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgb(180, 180, 180);
}

@media (max-width: 991.98px){
    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 767.98px){
    .owl-theme .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
    }
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: rgb(0, 0, 0);
}

.active span{
    background: rgb(0, 0, 0) !important;
}

.owl-dots {
    margin: 0 0 100px 0;
}

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/

.footer {
    background-color: rgb(0, 0, 0);
}

.footer__row {
    height: 300px;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

@media (max-width: 767.98px){
    .footer__row {
        height: 500px;
        flex-flow:column;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

.footer__item {
    padding: .5rem;
    align-self: center;
    font-style: normal;
}

.footer__name {
    font-family: 'Han Zi';
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    line-height: 1.2;
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(0, 0, 0),rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px,
    rgb(245, 206, 140) 0px 0px 10px,  rgb(245, 206, 140) 0px 0px 20px,  rgb(245, 206, 140) 0px 0px 30px;
    color: rgb(255, 255, 255);
}

.footer__address{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    text-align: right;
    padding: .5rem;
    line-height: 1.2;
    color: rgb(210, 175, 115);
}

.footer__link{
    display: table-cell;
    padding: .4rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
}

.footer__link:hover {
    color: rgb(210, 175, 115);
}

.menu__link-active {
    color: rgb(210, 175, 115);
}